/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 5px;
    margin-bottom: 5px;
    border: solid 3px #599abd;
    background-color: #d4c6ee;
  }
 .h1 { 
color: rgb(226, 127, 51);
font-family: 'Times New Roman', Times, serif;
font-size: 200%;
}
.p {
color: rgba(13, 136, 136, 0.788); 
font-family: 'Times New Roman', Times, serif;
font-size: 100% 
}